{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="d-flex justify-content-center align-item-center">
    <form class="w-25" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Email Username</label>
            {% render_field form.username class='form-control' %}
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Enter Password</label>
            {% render_field form.password class='form-control' %}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        
    </form>
</div>


{% endblock content %}
